body {
    background-color: rgb(201, 201, 201);
}

.header-container{

}

.header-text {
text-align: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.generator-container {
background-color: white;
width: 720px;
margin: 0 auto;
padding: 30px;
height: 350px;
}

.generator-header {
/* padding-top: 20px; */
/* padding-left: 10px; */
padding-bottom: 10px;
border-bottom: 2px gray solid;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.generate {
background-color: red;
color: white;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: larger;
border-radius: 25px;
margin-left: 10%;
float: left;
padding: 10px;
outline: none;
}

.copy {
    background-color:blue;
color: white;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: larger;
border-radius: 25px;
margin-right: 10%;
float: right;
padding: 10px;

}

.checks {
    margin-bottom: 10px;
}

.generateBox {
width: 50%;
margin: auto 0;
}

#password {
    margin-left: 35%;
    padding: 10px;
}

#length {
    padding: 10px;
    width: 20%;
}